* {
  box-sizing: border-box;
}
body {
  text-align: center;
  display: flex;
  justify-content: center;
}
h1 {
  color: yellow;
}
li {
  list-style-type: none;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  /* background-color: grey; */
  font-size: x-small;
  margin-left: 0.5rem;
}
.section-links-container {
  display: flex;
  justify-content: start;
  /*  width: 100%; */
}
.section-links-container li {
  box-shadow: 5px 2px 2px grey;
  background-color: black;
  text-align: center;
}
.section-links-container li:hover {
  box-shadow: 5px 2px 2px yellow;
}
.section-links-container li:active {
  transform: scale(1.4);
}
a {
  text-decoration: none;
  color: white;
  font-size: medium;
  width: 0.5em;
}
a:hover {
  color: yellow;
}

.container {
  border: 1px solid white;
  height: 100%;
  width: 60%;
  background-color: black;
  color: white;
  /* position: absolute; */
}
.section {
  border: 1px solid white;
  margin: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  box-shadow: 5px 5px 5px grey;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: rgb(89, 210, 80);
  box-shadow: 10px 5px 5px grey;
  border-radius: 1rem;
  color: white;
}
.btn:hover {
  box-shadow: 10px 5px 5px rgb(243, 235, 11);
  color: yellow;
}
.btn:active {
  transform: scale(1.2);
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid white;
  display: flex;
  z-index: 1;
  background-color: black;
  height: 4.9rem;
  width: 58.3%;
}
.links-footer-container {
  display: flex;
}

svg {
  background-color: white;
}

h2 {
  padding: 1rem;
}
.home {
  background-color: aliceblue;
  padding: 0.5rem;
}

.footer-li:hover {
  transform: scale(1.2);
}
.footer-li:active {
  transform: scale(1.4);
}
.svg-two {
  position: absolute;
  right: 12em;
  top: 29.7rem;
}
.svg-one {
  position: absolute;
  right: 12em;
}
.svg-tree {
  position: absolute;
  right: 12em;
  top: 51.7rem;
}
