* {
  box-sizing: border-box;
}
body {
  text-align: center;
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  /* background-color: grey; */
  font-size: x-small;
  margin-left: 0.5rem;
}
.section-links-container {
  display: flex;
  justify-content: start;
}
.section-links-container li {
  box-shadow: 5px 2px 2px grey;
  background-color: grey;
}
.section-links-container li:hover {
  box-shadow: 5px 2px 2px yellow;
}
a {
  text-decoration: none;
  color: yellow;
}
.container {
  border: 1px solid white;
  height: 100%;
  width: 60%;
  background-color: black;
  color: white;
  position: absolute;
  z-index: 0;
}
.section {
  border: 1px solid white;
  margin: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.section-two {
  border-bottom: none;
  margin-bottom: -1.2rem;
}
.btn {
  padding: 0.5rem 1rem;
  background-color: rgb(89, 210, 80);
  box-shadow: 10px 5px 5px grey;
  border-radius: 1rem;
  color: white;
}
.btn:hover {
  box-shadow: 10px 5px 5px rgb(243, 235, 11);
  color: yellow;
}
.two {
  margin: 1rem;
}
.footer {
  width: 59%;
  position: fixed;
  /* border-top: 1px solid white; */
  display: flex;
  z-index: 1;
  background-color: black;
}
.links-footer-container {
  display: flex;
}

svg {
  background-color: white;
}

h2 {
  padding: 1rem;
}
