* {
  box-sizing: border-box;
}
body {
  text-align: center;
  display: flex;
  justify-content: center;
}
header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  position: sticky;
  top: 0;
  z-index: 1;
}
.container {
  border: 1px solid white;
  height: 100%;
  width: 25%;
  color: white;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: black;
}
main {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.footer {
  display: grid;
  bottom: 0;

  background-color: black;
  grid-template-columns: repeat(4, 1fr);
  position: sticky;
  bottom: 0;
}
.section {
  border: 1px solid white;
  width: 90%;
  margin: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px grey;
  position: relative;
}
h1 {
  color: yellow;
}
li {
  list-style-type: none;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  /* background-color: grey; */
  font-size: x-small;
  margin-left: 0.5rem;
}
.section-links-container {
  display: flex;
  justify-content: start;
  /*  width: 100%; */
}
.section-links-container li {
  box-shadow: 5px 2px 2px grey;
  background-color: black;
  text-align: center;
}
.section-links-container li:hover {
  box-shadow: 5px 2px 2px yellow;
}
.section-links-container li:active {
  transform: scale(1.4);
}
a {
  text-decoration: none;
  color: white;
  font-size: medium;
  width: 0.5em;
}

.section-two {
  margin-bottom: -1.2rem;
}
.btn {
  padding: 0.5rem 1rem;
  background-color: rgb(89, 210, 80);
  box-shadow: 10px 5px 5px grey;
  border-radius: 1rem;
  color: white;
}
.btn:hover {
  box-shadow: 10px 5px 5px rgb(58, 58, 22);
}
.btn:active {
  transform: scale(1.2);
}
.two {
  margin: 1rem;
}

.links-footer-container {
  display: flex;
}

svg {
  background-color: white;
}

h2 {
  padding: 1rem;
}
.bookmark {
  background-color: aliceblue;
  padding: 0.5rem;
}

.footer-li:hover {
  transform: scale(1.2);
}
.footer-li:active {
  transform: scale(1.4);
}
.svg-two {
  position: absolute;
  right: 1rem;
  top: 0;
}
.svg-one {
  position: absolute;
  right: 2em;
  top: 6rem;
}
