* {
  box-sizing: border-box;
}
body {
  text-align: center;
  display: flex;
  justify-content: center;
}
header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  position: sticky;
  top: 0;
  z-index: 1;
}
.container {
  border: 1px solid white;
  height: 100%;
  width: 25%;
  color: white;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: black;
}
main {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.footer {
  display: grid;
  bottom: 0;
  border-top: 1px solid white;
  /*   z-index: 1; */
  background-color: black;
  grid-template-columns: repeat(3, 1fr);
  position: sticky;
  bottom: 0;
}
.section {
  border: 1px solid white;
  width: 90%;
  margin: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px grey;
  position: relative;
}
h1 {
  color: yellow;
}
li {
  list-style-type: none;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  /* background-color: grey; */
  font-size: x-small;
  margin-left: 0.5rem;
}
.section-links-container {
  display: flex;
  justify-content: start;
  /*  width: 100%; */
}
.section-links-container li {
  box-shadow: 5px 2px 2px grey;
  background-color: black;
  text-align: center;
}
.section-links-container li:hover {
  box-shadow: 5px 2px 2px yellow;
}
.section-links-container li:active {
  transform: scale(1.4);
}
a {
  text-decoration: none;
  color: white;
  font-size: medium;
  width: 0.5em;
}
a:hover {
  color: yellow;
}
span {
  color: white;
}

.two {
  margin: 1rem;
}

.links-footer-container {
  display: flex;
}

svg {
  background-color: white;
}

.profil {
  background-color: aliceblue;
  padding: 0.5rem;
}

.footer-li:hover {
  transform: scale(1.2);
}
.footer-li:active {
  transform: scale(1.4);
}

.main-svg {
  position: absolute;
  top: 2.5rem;
  left: 3.5rem;
}
h2 {
  margin-top: 4rem;
  margin-left: 3rem;
  color: yellow;
}
.section-container-one {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
p {
  padding: 1rem;
  text-align: center;
  color: white;
}
.cart-container {
  display: flex;
  line-height: 1.5;
  justify-content: flex-start;
}
.figure {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
}
.figure-one-nummer {
  margin-left: 1rem;
}
h3 {
  text-align: start;
  margin-left: 1rem;
  color: white;
}
.dark-mode-toggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
