* {
  box-sizing: border-box;
}
body {
  text-align: center;
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  /* background-color: grey; */
  font-size: x-small;
  margin-left: 0.5rem;
}
.section-links-container {
  display: flex;
  margin: 2rem;
  /* justify-content: start; */
  /*  width: 100%; */
}
.section-links-container li {
  box-shadow: 5px 2px 2px grey;
  background-color: black;
  text-align: center;
}
.section-links-container li:hover {
  box-shadow: 5px 2px 2px yellow;
}
.section-links-container li:active {
  transform: scale(1.4);
}
a {
  text-decoration: none;
  color: white;
  font-size: medium;
  width: 0.5em;
}

.container {
  border: 1px solid white;
  background-color: black;
  color: white;
  position: absolute;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}
.btn {
  padding: 1rem 0.5rem;
  background-color: rgb(89, 210, 80);
  box-shadow: 10px 5px 5px grey;
  border-radius: 1rem;
  color: white;
  margin: 2em;
  /* width: 40%; */
  justify-self: center;
}
.btn:hover {
  box-shadow: 10px 5px 5px rgb(243, 235, 11);
  color: yellow;
}
.btn:active {
  transform: scale(1.4);
}
h2 {
  margin: 3rem;
  padding: 1rem;
}
p {
  margin: 4rem;
  font-size: 1.5em;
}
